body {
    background-color: #DCA2C0;
}
.navbar {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#navbar_titulo{
    font-size: 0;
    background: url(../recursos/Logo.png) no-repeat;
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 140px;
    margin: 0 10px;
}
.nav-item {
    display: flex;
    align-items: center;
}
#link_sesion {
    position: absolute;
    left: 90%;
}
.nav-item b{
    margin-left: 10px;
}
.navbar_user_foto{
    width: 5%;
    margin: 5px;
}
.main-content.container {
    padding: 25px;
    background-size: cover;
    background-image: url(../recursos/pattern-veton.jpg);
}
.main-content.container h2 {
    text-align: center;
    color: #4E4E4E;
    font-weight: 600;
}
.titulo_index {
    color: #4E4E4E;
    font-family: "poppinsbold";
    font-size: 4em;
}
.parrafo_index {
    font-family: "poppinsregular";
    font-size: 1.25em;
    margin-bottom: 60px;
    color: white;
}
.subtitulo_index {
    font-family: "poppinsmedium";
    font-size: 2.5em;
}
div.index_container {
    display: flex;
    flex-wrap: wrap;
}


.main-footer {
    padding: 20px;
    background-color: #6a1c9d;
    text-align: center;
    color: white;
}
.wrapper {
    display: flex;
    min-height: calc(100vh - 150px);
}

.contenedor_botones_detalle {
    display: flex;
    margin: 20px;
}
table.table-bordered{
    margin-top:20px;
    background-color: white;
    width: 70%!important;
}
table.table-bordered > thead > tr > th{
    border:1px solid #6a1c9d;
    white-space: nowrap;
    font-family: "poppinsregular";
}
table.table-bordered > tbody > tr > td{
    border:1px solid #6a1c9d;
    white-space: nowrap;
    font-family: "poppinslight";
}
.icono_aceptar {
    display: inline-block;
    background: url(../recursos/aceptar.png) no-repeat;
    height: 32px;
    text-indent: -9999px;
    width: 32px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.icono_eliminar{
    display: inline-block;
    background: url(../recursos/basura.png) no-repeat;
    height: 32px;
    text-indent: -9999px;
    width: 32px;
    margin: 0 10px;
    border: none;
    cursor: pointer;

}
.icono_aceptar:hover,
.icono_eliminar:hover {
    opacity: 0.6;
}
table.table-bordered > tbody > tr > td.celda_acciones {
    display: flex;
}

td.celda_acciones {
    justify-content: space-around;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1920px !important;
    }
}

.login_wrapper {
    margin: 0 20%;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    padding: 2rem;
    border-radius: 23px;
}
.box{
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    padding: 2rem;
    border-radius: 23px;
    text-align: center;
}
.login{
    background-color: #5c2299!important;
    border-color: #5c2299!important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12)!important;
    border-radius: 5rem!important;

}
form input{

    border-bottom: 1px solid #ddd!important;
    width: 100%!important;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    height: 1.1875em!important;
    margin: 0!important;
    display: block!important;
    padding: 6px 0 7px!important;
    min-width: 0!important;
    background: none!important;
    box-sizing: content-box!important;
}
form input:hover{
    border-bottom: 1px solid black!important;

    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
}
form input:focus{
    border-bottom: 1px solid #5c2299!important;
    box-shadow: none!important;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
}
h1{
    color: #FE3090!important;
    text-align: center;
    font-weight: bolder;
}
main{
    margin: 0!important;
    box-sizing: unset!important;
}

table, thead, th, td {
    border-left: none;
    border-right: none;
}